<div class="page-title">
	<div class="row">
		<div class="contact-form span4"></div>
		<div class="contact-us login-form span4">
			<%= form_for(:session, :url => signin_url) do |f| %>
		        <%= f.label :email, 'Usuario' %>
		        <%= f.text_field :email, :placeholder => 'Ingrese su nombre de usuario...'%>

		        <%= f.label :password, 'Contrase単a' %>
		        <%= f.password_field :password, :placeholder => 'Ingrese su contrase単a...'%>

		        <br/>
		        <button type="submit">Entrar</button>

		    <% end %>
            <div class="span12">
              <%= link_to "多Has perdido tu contrase単a?", forgot_password_path %>
            </div>
    	</div>

	</div>
</div>