<div class="page-title">
  <div class="row">
    <div class="contact-form span3"></div>
    <div class=" contact-us contact-form login-form span7">
      <h2>Cambio de contraseña</h2>
      <h4>Tendras una unica oportunidad para cambiar tu contraseña, si fallas tendras que solicitar otro link de restablecimiento!</h4>
      <%= form_for(:session,:url => update_password_path,remote: true) do |f| %>
          <%= f.hidden_field :id, :value => @user.id %>
          <div class="name">
            <%= f.label :password, 'Nueva contraseña*', :class => 'nameLabel' %>
            <%= f.password_field :password, :placeholder => 'Ingrese su nueva contraseña...' %>
          </div>
          <div class="name">
            <%= f.label :password_confirmation, 'Confirmar nueva contraseña*', :class => 'nameLabel' %>
            <%= f.password_field :password_confirmation, :placeholder => 'Repita su nueva contraseña...' %>
          </div>
          <br/>
          <p>*Dato obligatorio</p><br/>
          <button type="submit" name="create">Actualizar</button>
      <% end %>
    </div>
  </div>
</div>