<div class="page-title">
    <div class="row">
    	<div class="contact-form span3"></div>        
        <div class=" contact-us contact-form login-form span7">
			<% if @events.any? %>
				<h3 style="margin-left:30%;">Actividades y Reuniones</h3>
				<hr/>
				<table id="hor-minimalist-b">
					<thead>
						<tr>
							<th scope="col">Fecha</th>
							<th scope="col">Lugar</th>
							<th scope="col">Actividad/Reunión</th>
							<th scope="col"></th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
					<% @events.each do |u| %>
						<tr>
							<td><%= l u.celebrated_at, :format => :long %></td>
							<td><%= u.place %></td>
							<td><%= link_to u.name, admin_event_path(u) %></td>
							<td>
								<% if puede("Eliminar Evento") %>
								<%= link_to (image_tag('file_delete.png', :size =>'25x25')), admin_event_path(u), :method => :delete, :data => { :confirm => '¿Esta seguro?' }%>
								<% end %>
							</td>
							<td>
								<% if puede("Modificar Evento") %>
								<%= link_to (image_tag('file_edit.png', :size =>'25x25')), edit_admin_event_path(u)%>
								<% end %>
							</td>
						</tr>
					<% end %>
					</tbody>
				</table>
			<% else %>
				<h2>No hay actividades registradas aún.</h2>
			<% end %>
			<br/>
			<br/>
		</div>
	</div>
</div>

<div class="call-to-action-text ">
	<div class="ca-button">
	    <a href="<%= admin_path %>">Atrás</a>
	</div>
	<% if puede "Crear Evento" %>
	<div class="ca-button">
	    <a href="<%= new_admin_event_path %>">Nueva actividad/reunión</a>
	</div>
	<% end %>
</div>