<div class="name">
  <%= f.label :filename, 'Título', :class => 'nameLabel' %>
  <%= f.text_field :filename, :placeholder => 'Título...' %>
</div>
<div class"name">
<label>Archivo*</label>
<div class="FileUpload" id="FileUpload">
  <input type="file" size="24" class="BrowserHidden" id="BrowserHidden" onchange="getElementById('FileField').value = getElementById('BrowserHidden').value;" name="article[resource_attributes][file]"/>
  <div class="BrowserVisible" id="BrowserVisible">
    <input type="text" class="FileField" id="FileField" />
  </div>
</div>
</div>
<div class"name">
<%= f.label :url, 'o URL', :class => 'nameLabel' %>
<%= f.text_field :url, :placeholder => 'URL de recurso existente...' %>
</div>
<div class="name">
  <%= f.label :description, 'Descripción', :class => 'nameLabel' %>
  <%= f.text_area :description, :placeholder => 'Descripción del recurso...' %>
</div>
<div class"name">
<label>Vista previa* (Tamaño de imagen recomendada: 960 x 396 ) </label>
<div class="FileUpload" id="FileUpload2">
  <input type="file" size="24" class="BrowserHidden" id="BrowserHidden2" onchange="getElementById('FileField2').value = getElementById('BrowserHidden2').value;" name="article[resource_attributes][thumbnail]"/>
  <div class="BrowserVisible">
    <input type="text" class="FileField" id="FileField2"/>
  </div>
</div>
</div>
<br/><br/>