<li data-thumb="<%= article.resource.thumbnail %>">
<a href="<%= article.resource.url %>" target="_blank">
  <img src="<%= article.resource.thumbnail %>">
</a>
<p class="flex-caption"><%= article.resource.description %><br/><a class="articulo" style="text-width: bold" href="<%= article.resource.url %>" target="_blank"> [Ver Articulo]</a></p>
</li>