<!DOCTYPE html>
<html>
<head>
  <title>Region SPS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Centro de información SUD para líderes del noroccidente de Honduras.">
  <meta name="author" content="">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster">
</head>
<body>
	<div class="container">
        <div class="header row">
            <div class="span12">
                <div class="navbar">
                    <div class="navbar-inner">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <h1>
                            <a class="brand" href="/">Región SPS - Honduras</a>
                        </h1>
                        <div class="nav-collapse collapse">
                            <ul class="nav pull-right">
                                <li class="current-page">
                                    <a href="/"><i class="icon-home"></i><br />Inicio</a>
                                </li>
                                <li>
                                    <a href="recursos"><i class="icon-folder-open"></i><br />Recursos</a>
                                </li>


                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" href="#"><i class="icon-calendar"></i><br />Eventos<b class="caret"></b></a>
                                      <ul class="dropdown-menu">
                                        <li><a href="events" tabindex="-1">Actividades de la Region</a></li>
                                        <li><a href="trips" tabindex="-1">Viajes al Templo</a></li>
                                      </ul>
                                </li>

                                <% unless current_user.nil? %>
                                <li>
                                    <a href="/dashboard"><i class="icon-inbox"></i><br />Dashboard</a>
                                </li>
                                <% end %>                                
                                <li>
                                    <a href="nosotros"><i class="icon-fire"></i><br />Nosotros</a>
                                </li>

                              <li class="dropdown">
                                <a class="dropdown-toggle" data-hover="dropdown" data-toggle="" href="admin"><i class="icon-signin"></i><br />Administrar<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                  <% if current_user.nil? %>
                                      <li><%= link_to 'Login', signin_path,:tabindex=>"-1" %></li>
                                  <% else %>
                                     <li><%= link_to 'Logout', signout_path,:tabindex=>"-1", :method => :delete %></li>
                                  <% end %>
                                </ul>
                              </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slider">
        <div class="container">
            <div class="row">
                <div class="span10 offset1">
                    <div class="flexslider">
                        <ul class="slides">

                          <%= render partial: 'home/article', collection: @articles %>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>



    <div class="testimonials container">
      <div class="testimonials-title">
        <h3 style="width: 27%;"><%= link_to 'Articulos anteriores...', articles_path %><br><br></h3>
      </div>
    </div>

    <footer>
        <div class="container">        
            <div class="footer-border"></div>
            <div class="row">
                <div class="copyright span5">
                    <p>Copyright <%= Time.now.year %> Región San Pedro Sula. Template by <a href="http://azmind.com">Azmind</a>.</p>
                </div>
                <div class="social span7">
                </div>
            </div>
        </div>
    </footer>

</body>
</html>
