<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="span12">
                <i class="icon-calendar page-title-icon"></i>
                <h2>Eventos</h2>				
            </div>
        </div>
    </div>
</div>

<div class="what-we-do container">
	<div class="row">
		<% if @groups.any? %>
		<ul style="clear:both">			
			<% @groups.each do |g| %>
			<% if Invitation.where(:group_id => g.id).any? %>
			<li style="list-style-type:none;">				
				<h3>Eventos para <%= g.name %></h3>
				<% Invitation.where(:group_id => g.id).each do |i| %>
				<div class="span7 testimonial-list">
					<% ev = Event.find(i.event_id) %>
					<p>
                        <strong> Ocasión: <%= ev.name %></strong>
                        <br/>
                        <span class="violet">Descripción: </span><%= ev.description %>
                        <br />
                        <span class="violet">Lugar: </span><%= ev.place %>
                        <br />
                        <span class="violet">Fecha y hora: </span><%= ev.celebrated_at %>
                    </p>
				</div>				
				<% end %>				
			</li>		
			<% end %>			
		</ul>
		<% end %>
		<% end %>	
	</div>
	<div class="row">
		<% if @public_events.any? %>
			<h3>Eventos públicos</h3>
			<ul style="clear:both">
				<% @public_events.each do |ev| %>
				<li style="list-style-type:none;">
					<div class="span7 testimonial-list">
						<p>
		                    <strong> Ocasión: <%= ev.name %></strong>
		                    <br/>
		                    <span class="violet">Descripción: </span><%= ev.description %>
		                    <br />
		                    <span class="violet">Lugar: </span><%= ev.place %>
		                    <br />
		                    <span class="violet">Fecha y hora: </span><%= ev.celebrated_at %>
		                </p>
					</div>	
				</li>
				<% end %>
			</ul>
		<% else %>
			<h2>No se han programado eventos.</h2>
        	<h3>Esté pendiente, gracias.</h3>
		<% end %>	
		</div>
	<br/>
	<br/>
</div>