<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="span12">
                <i class="icon-calendar page-title-icon"></i>
                <h2>Actividades y Reuniones</h2>				
            </div>
        </div>
    </div>
</div>

<div class="what-we-do container">	
		<% count = 0 %>
		<% if @groups.any? %>
		<ul style="clear:both">			
			<% @groups.each do |g| %>
			<div class="row">
			<% if Invitation.where(:group_id => g.id).any? %>
			<li style="list-style-type:none;">		
				<% count = 1 %>
				<h3>Actividades y Reuniones para <%= g.name %></h3>
				<% Invitation.where(:group_id => g.id).where("celebrated_at > ?", 1.day.ago).each do |i| %>
				<div class="span7 testimonial-list">
					<% ev = Event.find(i.event_id) %>
					<p>
                        <strong> Actividad: <%= ev.name %></strong>
                        <br/>
                        <span class="violet">Descripción: </span><%= ev.description %>
                        <br />
                        <span class="violet">Lugar: </span><%= ev.place %>
                        <br />
                        <span class="violet">Fecha y hora: </span>
                        <%= l ev.celebrated_at, :format => :long %>
                    </p>
				</div>
				<% end %>
			</li>
			<% end %>
			</div>
			<% end %>
		</ul>
		<% end %>	
	
	<div class="row">
		<% if @public_events.any? %>
			<h3>Actividades y Reuniones</h3>
			<ul style="clear:both">
				<% @public_events.each do |ev| %>
				<li style="list-style-type:none;">
					<div class="span7 testimonial-list">
						<p>
		                    <strong> Actividad: <%= ev.name %></strong>
		                    <br/>
		                    <span class="violet">Descripción: </span><%= ev.description %>
		                    <br />
		                    <span class="violet">Lugar: </span><%= ev.place %>
		                    <br />
		                    <span class="violet">Fecha y hora: </span>
		                    <%= l ev.celebrated_at, :format => :long %>
		                </p>
					</div>	
				</li>
				<% end %>
			</ul>
		<% else %>
			<% if count != 1 %>
			<h2>No se han programado eventos.</h2>
        	<h3>Esté pendiente, gracias.</h3>
        	<% end %>
		<% end %>	
		</div>
	<br/>
	<br/>
</div>