<div class="page-title">
    <div class="row">
    	<div class="contact-form span3"></div>        
        <div class=" contact-us contact-form login-form span7">
			<% if @users.any? %>
				<h3 style="margin-left:40%;">Usuarios</h3>
				<table id="hor-minimalist-b">
					<thead>
						<tr>
							<th scope="col">Nombre</th>
							<th scope="col">Correo</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
					<% @users.each do |u| %>
						<tr>
							<td><%= u.first_name + " " + u.last_name %></td>
							<td><%= u.email %></td>
							<td><%= link_to 'Administrar roles', u %></td>
						</tr>
					<% end %>
					</tbody>
				</table>
			<% else %>
				<h2>No hay usuarios registrados aún.</h2>
			<% end %>
			<br/>
			<br/>
		</div>
	</div>
</div>

<div class="call-to-action-text ">
	<div class="ca-button">
	    <a href="<%= admin_path %>">Atrás</a>
	</div>
	<div class="ca-button">
	    <a href="<%= new_admin_user_path %>">Nuevo usuario</a>
	</div>
</div>