<!DOCTYPE html>
<html>
<head>
  <title>Region SPS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Centro de información SUD para líderes del noroccidente de Honduras.">
  <meta name="author" content="Nestor A. Bermudez">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster">
</head>
<body>
	<%= render 'layouts/header' %>

    <div id='notice'>
      <%= render 'shared/message' %>
    </div>

	<%= yield %>

	<%= render 'layouts/footer' %>

</body>
</html>
